<div class="row">
  <div class="grid-x grid-padding-x">
    <div class="cell small-4"></div>
    <div class="cell small-4">
      <div class="text-center">
        <p>Duracell</p>
      </div>
    </div>
    <div class="cell small-4">
      <div class="float-right">
        <ul class="menu">
          <li class="menu-text">Iniciar Sesión</li>
          <li><a href="#">Registrate</a></li>
        </ul>
      </div>
    </div>
  </div>
  

</div>