
<div class="grid-x">
  <div class="cell large-auto"></div>
  <div class="cell large-auto">
    <div class="text-center">
      Duracell
    </div>
  </div>
  <div class="cell large-auto">
    <div class="float-right">
      <ul class="menu">
        <li class="menu-text">Iniciar Sesión</li>
        <li><a href="#">Registrate</a></li>
      </ul>
    </div>
  </div>
</div>
