<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
<button class="menu-icon" type="button" data-toggle></button>
<div class="title-bar-title">Menu</div>
</div>
<div class="top-bar" id="main-menu">
  <div class="float-center">
    <ul class="menu vertical medium-horizontal medium-text-center align-center" data-responsive-menu="drilldown medium-dropdown">
      <li><a href="#">Productos</a></li>
      <li><a href="#">Tips para tu tienda</a></li>
      <li><a href="#">Noticias</a></li>
      <li><a href="#">Bases</a></li>
      <li><a href="#">Premios</a></li>
      <li><a href="#">Retos</a></li>
    </ul>
  </div>
</div>