<div class="top-bar">
  <div class="float-center">
    <ul class="menu">
      <li class="menu-text">Marketing Site</li>
      <li><a href="#">Productos</a></li>
      <li><a href="#">Tips para tu tienda</a></li>
      <li><a href="#">Noticias</a></li>
      <li><a href="#">Bases</a></li>
      <li><a href="#">Premios</a></li>
      <li><a href="#">Retos</a></li>
      
    </ul>
  </div>
</div>